.rs-resizable {
  cursor: move;
}

.rs-resizable-item {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  .box-shadow(0, 0, 5px, 0, #000);

  z-index: 10000;

  &.item_0 {
    cursor: nw-resize;
    border-left: solid 3px #ffffff;
    border-top: solid 3px #ffffff;
  }

  &.item_1 {
    border-top: solid 3px #ffffff;
    width: 15px;
    height: 7px;
    cursor: n-resize;
  }

  &.item_2 {
    border-right: solid 3px #ffffff;
    border-top: solid 3px #ffffff;
    cursor: ne-resize;
  }

  &.item_3 {
    border-right: solid 3px #ffffff;
    cursor: e-resize;
    width: 7px;
    height: 15px;
  }

  &.item_4 {
    border-right: solid 3px #ffffff;
    border-bottom: solid 3px #ffffff;
    cursor: se-resize;
  }

  &.item_5 {
    border-bottom: solid 3px #ffffff;
    cursor: s-resize;
    width: 15px;
    height: 7px;
  }

  &.item_6 {
    border-left: solid 3px #ffffff;
    border-bottom: solid 3px #ffffff;
    cursor: sw-resize;
  }

  &.item_7 {
    border-left: solid 3px #ffffff;
    cursor: w-resize;
    width: 7px;
    height: 15px;
  }
}