.rs-slider {
  position: relative;
  height: 20px;

  &:before {
    content: "";
    position: absolute;
    height: 6px;
    background-color: @backgroundSecondColor;
    width: 100%;
    top: 7px;
  }

  .rs-slider-handle {
    min-width: 30px;
    height: 20px;
    border-radius: 10px;

    left: 0;
    top: 0;

    cursor: pointer;
    box-sizing: border-box;
    padding-top: 4px;

    color: @lightFontColor;
    text-align: center;

    background-color: @decorationColor;
    position: absolute;

    .no-user-select();
  }
}