@import "../config/config";
@import "../lib/mixin";

.rs-image-place {
  width: 100%;
  .flex(flex-start, flex-start);

  .flex-wrap(wrap);
  padding: 20px 0;

  img {
    display: none;
  }

  .rs-image {
    margin: 10px 18px;
    width: 150px;
    height: 170px;

    padding: 12px 0 0 0;

    border: solid 3px @backgroundColor;

    background-color: @darkColor;

    > * {
      width: 150px;
    }

    &.rs-image-selected {
      background-color: @decorationColor;

      .rs-image-data {
        background-color: @decorationDarkColor;
      }
    }

    .flex(space-between, space-between);
    .flex-wrap(wrap);

    .rs-image-block {
      width: 150px;
      height: 170px - 50px;

      .flex-grow(2);

      canvas {
        display: block;
        margin: 0 auto;
        max-width: 150px;
        max-height: 170px - 50px;
      }
    }

    .rs-image-data {
      .flex(space-between, center);

      height: 50px;
      background-color: @lightColor;

      padding: 0 10px;

      .rs-image-data__name {
        font-size: 80%;
      }

      * {
        color: @lightFontColor;

        font-size: 90%;
      }
    }
  }
}