@import "../config/config";
@import "../lib/mixin";

.rs-single-image {
  margin: 10px;

  max-width: 100%;
  overflow-x: scroll;

  .box-shadow(0, 0, 5px, 0, rgba(0, 0, 0, 0.5));

  line-height: 0;
  box-sizing: border-box;

  .rs-canvas-place {
    position: relative;
    display: inline-block;

    canvas {
      display: block;
    }

    box-sizing: border-box;
  }
}