@import "lib/normalize";
@import "lib/font-awesome/font-awesome";

@import "config/config";
@import "lib/mixin";

@import "block/toolbar";
@import "block/content";
@import "block/popover";
@import "block/image-place";
@import "block/single-image";
@import "block/information";
@import "block/grid-sidebar";

@import "widgets/slider";
@import "widgets/resizable";
@import "widgets/progress-bar";

.rs-editor {
  font-family: @mainFont;
  font-size: @defaultFontSize;

  min-width: @min-width;
  max-width: @max-width;

  border: solid 1px @backgroundSecondColor;
  padding: 5px 0 0 0;

  margin: 0 auto;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);

  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  background-color: @backgroundSecondColor;
}

.rs-editor-block {
  position: relative;
}

.rs-helpers-block {
  display: none;
}

input[type="text"], input[type="number"] {
  border: solid 1px @backgroundSecondColor;
  font-size: 90%;
  padding: 2px;
  border-radius: 2px;
}

.rs-progress-bar {
  position: absolute;
  z-index: 400;
  margin-top: 10px;
  width: 100%;
  top: 34px;

  .rs-progress-label {
    top: 5px;
    color: @lightFontColor;
    padding: 2px 5px;
    .background-opacity(@decorationColor, 0.5);
    position: absolute;
  }

  .rs-progress-line {
    top: 0;
  }
}