<div>
    <input class="m_resize-width" type="text" placeholder="width" value="150" /> <br />
    <input class="m_resize-height" type="text" placeholder="height"value="100" /> <br /> <br />

    <button class="m_resize-ok" value="ok">OK!</button>
</div>